<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetaFlow</title>

    <link href="static/css/output.css" rel="stylesheet">

</head>
<body>
    
    <div class="max-sm:mt-[150px] mt-24 m-4 flex flex-col items-center justify-center">
        {% for i in items %}
        <div class="relative border border-slate-600 p-2 m-2 rounded-md w-64">
            <p class="text-left text-xs h-6">{{i.get('date')}}</p>
        {% if i.get("isfile") == "false" %}
            <p>{{i.get('message')}}</p>
        {% else %}
            {% if i.get('mimetype') in ['image/jpeg', 'image/png', 'image/webp']  %}
                <a href="get/{{ i.get('key') }}"><img src="get/thumbnail/{{ i.get('key') }}" alt=""></a>
            {% else %}
                <a href="get/{{ i.get('key') }}"> {{i.get('message')}}</a>
            {% endif %}
        {% endif %}
            <form class="absolute -right-3 -top-3" action="/delete" method="POST">
                <button class="text-xl opacity-80 hover:text-2xl hover:opacity-100 transition-all" name="delete" value={{ i.get('key') }} type="submit">❌</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="fixed p-2 top-0 text-center w-full backdrop-blur-lg bg-zinc-500 bg-opacity-50">
        <form action="/new" method="POST">
            <input type="text" name="message" class="w-80 rounded-xl border mb-1" />
            <input type="submit" value="➡️" />
        </form>
        <form action="/upload" method="POST" enctype=multipart/form-data>
            <input type=file name=file class="w-80">
            <input type=submit value="📤">
        </form>
    </div>
</body>
</html>
